extends layout

block content
  h1 Sign Up
  form(method='post' action='/signup')
    label Email Address
    if email && email.bool !== true
      p.red= email.value
    input(type='text' name="email" placeholder='Use the email address you signed up with' value = email && email.bool === true ? email.value : "")
    label Password
    if password && password.bool !== true
      p.red= password.value
    input(type='password' name="password" placeholder='You know how this one works' value = password && password.bool === true ? password.value : "")
    label Confirm Password
    if confirm !== true
      p.red= confirm
    input(type='password' name="confirm" placeholder='Make sure this is the same as the one above')
    button Sign-up
