extends layout

block content
  h1 Sign In
  form(method='post' action='/signin')
    label Email Address
    input(type='text' placeholder='Use the email address you signed up with')
    label Password
    input(type='password' placeholder='You know how this one works')
    button Log-in
