body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
  height: 250px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.red {
  color: red;
}
